#Лабораторна робота 1
###Студента групи МІТ-31 (підгрупа 2)
###Луніна Леоніда Олександровича

##Завдання
1. NumPy (створити набір даних (розмір за власним рішенням), провести CRUD операції над даними (скаляр, вектор, матриця)). Використати arange, random.
2. Pandas (створити dataframe різними способами, провести маніпуляції з даними (head, describe, iloc, loc ...))
3. Matplotlib (створити набір даних лінійної функції з урахуванням помилок вимірювань, побудувати графік функції та згенерованих даних, обчислити похибку з використанням метрик MAE, MSE). Записати отримані результати у csv файл (формат: X,Y, Y_hat, mAE, mSE)

4. Відповіді оформити .ipynb документом
5. Викласти у зазначений репозіторій GitHub в окремій папці з назвою Lab1 де має бути .ipynb файл та необхідні файли з даними

In [1]:
import pandas as pd

#1
dictionary_lists = {
"Student_Name": ["Samreena", "Raees", "Sara", "Sana"],
"Course_Title": ["SQA","SRE","IT Basics", "Artificial intelligence"],
"GPA": [3.1, 3.3, 2.8, 4.0]}
dframe1 = pd.DataFrame(dictionary_lists)
print(dframe1, end = "\n\n")
print(dframe1.head(), end="\n\n")
print(dframe1.describe(), end="\n\n")
print(dframe1.info(), end="\n\n")
print(dframe1.iloc[0])
dframe1 = pd.DataFrame(dframe1, index=['0', '1', '2', '3'])
print(dframe1.loc['1'], end="\n\n")


#2
Student_Name = ["Samreena", "Raees", "Sara", "Sana"]
Course_Title = ["SQA", "SRE", "IT Basics", "Artificial Intelligence"]
GPA = [3.1, 3.3, 2.8, 4.0]
tuples = list(zip(Student_Name, Course_Title, GPA))
dframe2 = pd.DataFrame(tuples, columns=["Student_Name", "Course_Title", "GPA"])
print(dframe2, end="\n\n")
print(dframe2.head(), end="\n\n")
print(dframe2.describe(), end="\n\n")
print(dframe2.info(), end="\n\n")
print(dframe2.iloc[1])
dframe2 = pd.DataFrame(dframe2, index=['0', '1', '2', '3'])
print(dframe2.loc['0'], end="\n\n")

#3
dframe3 = pd.read_csv('data.csv')
print(dframe3, end="\n\n")
print(dframe3.head(), end="\n\n")
print(dframe3.describe(), end="\n\n")
print(dframe3.info(), end="\n\n")
print(dframe3.iloc[2])
dframe3 = pd.DataFrame(dframe3, index=['0', '1', '2', '3'])
print(dframe3.loc['2'], end="\n\n")

  Student_Name             Course_Title  GPA
0     Samreena                      SQA  3.1
1        Raees                      SRE  3.3
2         Sara                IT Basics  2.8
3         Sana  Artificial intelligence  4.0

  Student_Name             Course_Title  GPA
0     Samreena                      SQA  3.1
1        Raees                      SRE  3.3
2         Sara                IT Basics  2.8
3         Sana  Artificial intelligence  4.0

            GPA
count  4.000000
mean   3.300000
std    0.509902
min    2.800000
25%    3.025000
50%    3.200000
75%    3.475000
max    4.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student_Name  4 non-null      object
 1   Course_Title  4 non-null      object
 2   GPA           4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 224.0+ bytes
None

Student_Name    Samreena
Course_Title         SQA
GPA                  3.1
Name: 0, dtype: object
Student_Name    NaN
Course_Title    NaN
GPA             NaN
Name: 1, dtype: object

  Student_Name             Course_Title  GPA
0     Samreena                      SQA  3.1
1        Raees                      SRE  3.3
2         Sara                IT Basics  2.8
3         Sana  Artificial Intelligence  4.0

  Student_Name             Course_Title  GPA
0     Samreena                      SQA  3.1
1        Raees                      SRE  3.3
2         Sara                IT Basics  2.8
3         Sana  Artificial Intelligence  4.0

            GPA
count  4.000000
mean   3.300000
std    0.509902
min    2.800000
25%    3.025000
50%    3.200000
75%    3.475000
max    4.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Student_Name  4 non-null      object
 1   Course_Title  4 non-null      object
 2   GPA           4 non-null      float64
dtypes: float64(1), object(2)
memory usage: 224.0+ bytes
None

Student_Name    Raees
Course_Title      SRE
GPA               3.3
Name: 1, dtype: object
Student_Name    NaN
Course_Title    NaN
GPA             NaN
Name: 0, dtype: object

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB
None

Duration     60.0
Pulse       103.0
Maxpulse    135.0
Calories    340.0
Name: 2, dtype: float64
Duration   NaN
Pulse      NaN
Maxpulse   NaN
Calories   NaN
Name: 2, dtype: float64